@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #afb2bf;
  
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: #000814;
}

*::-webkit-scrollbar-thumb {
  background-color: #afb2bf;
  border-radius: 10px;
  visibility: hidden;
}

*:active::-webkit-scrollbar-thumb,
*:focus::-webkit-scrollbar-thumb,
*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.products_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.7rem;
}

.imagep{
height: 100%;
 object-fit: fit;
 
}
@media only screen and (max-width:639px) {
  .mobile{
   display: none;
  }
  .checkout{
    min-height: 80vh;
    overflow-y: scroll;
    
  }

/* Hide scrollbar for IE, Edge and Firefox */
.checkout {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.checkout::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

 
  .head-media{
   gap:4em;
  }
 }



 .spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid #4e57d4;
  animation: spinner-bulqg1 0.8s infinite linear alternate,
    spinner-oaa3wk 1.6s infinite linear;
}


@keyframes spinner-bulqg1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }

  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }

  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }

  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}

@keyframes spinner-oaa3wk {
  0% {
    transform: scaleY(1) rotate(0deg);
  }

  49.99% {
    transform: scaleY(1) rotate(135deg);
  }

  50% {
    transform: scaleY(-1) rotate(0deg);
  }

  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}




.box {
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  position: relative; /* Needed for absolute positioning of :after */
}
.box:after {
  content: "After Content";

 display: block;
  bottom: 0px; /* Adjust position as needed */
  right: 0px; /* Adjust position as needed */
  font-size: 14px;
  background: blue;
  z-index: 49;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes divv {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}








/* styles.css */
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.input-container {
  position: relative;
  display: inline-block;
  width: 60%;
}

.input-container input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  position: relative;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

.input-container:before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #1abc9c, #3498db, #9b59b6); /* Updated gradient colors */
  z-index: 0;
  background-size: 300%;
  animation: gradient 5s ease infinite;
}

.input-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px dashed transparent;
  border-image: linear-gradient(90deg, #1abc9c, #3498db, #9b59b6) 1; /* Updated border image colors */
  border-radius: 0.5rem;
  z-index: 1;
  animation: dash 5s linear infinite;
  pointer-events: none;
}

.button {
  background: linear-gradient(90deg, #fd5d93, #c331d4); /* Updated gradient colors */
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background: linear-gradient(90deg, #c331d4, #fd5d93); /* Updated gradient colors */
  transform: translateY(-2px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}


.containerone {
  position: relative;
  width: 100vw;
  max-height: 60vh;
  /* z-index: -1;
  position: sticky; */
}

.three-canvas {
  position: absolute;
  /* background-color: red; */
top: 0;
  /* bottom: 0; */
  left: 0;
  width: 100%;
  max-height: 80%;
}

.video-background {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70vh;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
}

.video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.hint-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moveLeftRight 2s infinite alternate;
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(20px);
  }
}