.toggle-next {
    border-radius: 0;
  }
  
  label {
    cursor: pointer;
  }
  
  .ellipsis {
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .apply-selection {
    display: none;
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .ajax-link {
    display: none;
  }
  
  .checkboxes {
    margin: 0;
    display: none;
    border: 1px solid #ccc;
    border-top: 0;
  }
  
  .inner-wrap {
    padding: 5px 10px;
    max-height: 140px;
    overflow: auto;
  }
  
  .wrapper .checkboxes {
    display: block;
  }
  
  .wrapper .apply-selection {
    display: block;
  }
  